#contact-painel {
    width: 100%;
    height: 100vh;
    max-width: 430px;
    position: relative;
    background: #111b21;
    border-right: 1px solid #222d34;

    .navbar-contact {
        display: flex;
        width: 100%;
        align-items: center;
        padding: 0 1rem;
        margin-left: 1px;
        justify-content: space-between;
        border-right: 1px solid #383d3f;
        height: 59px;
        background: #202c33;

        .user-options {
            width: 170px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        svg {
            cursor: pointer;
            fill: #aebac1;
        }

        img {
            cursor: pointer;
            height: 40px;
            width: 40px;
            border-radius: 100%;
        }
    }

    .search-filter-contact {
        display: flex;
        align-items: center;
        padding: 7px 0.8rem;
    }

    .search-svg {
        margin-left: 8px;
    }

    .contact-deck {
        display: flex;
        height: calc(100vh - 108px);
        overflow-y: scroll;
        flex-direction: column;
    }

    .archive-contact {
        display: flex;
        height: 49px;
        align-items: center;
        cursor: pointer;
        padding: 1rem 0 1rem;
    }

    .archive-container {
        width: 77px;
        height: 49px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .archive-text {
        display: flex;
        height: 49px;
        flex: 1;
        justify-content: space-between;
        align-items: center;
        border: none;
        border-bottom: 1px solid #222d34;
    }

    .archive-text-title {
        font-size: 1.05rem;
        color: #e9edef;
        font-weight: normal;

    }

    .archive-text-number {
        margin-right: 15px;
        font-size: 0.8rem;
        color: #00a884;
    }

    .filter-ml {
        margin-left: 8px;
    }

}